<slick dots="true" infinite="true" speed="300" slides-to-show="1" autoplay="true" autoplay-speed="2000" center-mode="true" variable-width="true" style="display:none;">
  <div class=""><img src="http://lorempixel.com/output/fashion-q-c-640-480-1.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-h-c-480-640-2.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-q-c-640-480-3.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-q-c-640-480-4.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-q-c-640-480-5.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-h-c-480-640-6.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-q-c-640-480-7.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-h-c-480-640-8.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-q-c-640-480-9.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-h-c-480-640-1.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-q-c-640-480-2.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-q-c-640-480-3.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-q-c-640-480-5.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-h-c-480-640-6.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-h-c-480-640-7.jpg" alt=""></div>
  <div class=""><img src="http://lorempixel.com/output/fashion-q-c-640-480-8.jpg" alt=""></div>
</slick>
