<div class="body-top">
  <div class="fb-like" data-href="https://www.facebook.com/Turbucz-Tímea-Nails-and-Make-Up-1645945865683220" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

  <nav class="main-nav">
    <a href="" ng-click="main.goToSlide(0)">Nyitólap</a>
    <!-- <span class="menu-separator"> &bull; </span>
    <a href="" ng-click="main.goToSlide(1)">Bemutatkozás</a> -->
    <span class="menu-separator"> &bull; </span>
    <a href="" ng-click="main.goToSlide(2)">Köröm</a>
    <span class="menu-separator"> &bull; </span>
    <a href="" ng-click="main.goToSlide(3)">Smink</a>
    <span class="menu-separator"> &bull; </span>
    <a href="" ng-click="main.goToSlide(4)">Árak</a>
    <span class="menu-separator"> &bull; </span>
    <a href="" ng-click="main.goToSlide(5)">Kapcsolat</a>
    <span class="menu-separator"> &bull; </span>
    <a href="" ng-click="main.goToSlide(6)">Blog</a>
    <!-- <a href="http://www.turbucztimea.hu/blog" target="_blank">Blog</a> -->
  </nav>
</div>

<div class="body-bottom">
  <carousel class="main-carousel" interval="main.myInterval" no-wrap="main.noWrapSlides">
    <slide ng-repeat="slide in main.slides" class="{{slide.cssClass}}" active="slide.active">
      <div ng-include src="slide.template"></div>
    </slide>
  </carousel>
  <div class="tt-copyright">
    &copy; Turbucz Tímea Nails and Make up

  </div>
</div>
