<div class="body-top">
  <nav class="main-nav">
    <a href="" ng-click="main.goToSlide(0)">Nyitólap</a>
    <span class="menu-separator"> &bull; </span>
    <a href="" ng-click="main.goToSlide(1)">Körmök</a>
    <span class="menu-separator"> &bull; </span>
    <a href="" ng-click="main.goToSlide(2)">Sminkek</a>
    <span class="menu-separator"> &bull; </span>
    <a href="" ng-click="main.goToSlide(3)">Árak</a>
    <span class="menu-separator"> &bull; </span>
    <a href="" ng-click="main.goToSlide(4)">Kapcsolat</a>
    <span class="menu-separator"> &bull; </span>
    <a href="http://www.turbucztimea.hu/blog" target="_blank">Blog</a>
  </nav>
</div>

<div class="body-bottom">
  <carousel class="main-carousel" interval="main.myInterval" no-wrap="main.noWrapSlides">
    <slide ng-repeat="slide in main.slides" class="{{slide.cssClass}}" active="slide.active">
      <div ng-include src="slide.template"></div>
    </slide>
  </carousel>
</div>
