/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
  font-family: 'Open Sans Condensed', sans-serif;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .view-wrapper {
    height: 100%;
    width: 100%;

    .phone-separator {
      display: none;
    }

    .body-top,
    .body-bottom {
      width: 100%;
      overflow: hidden;
      position: relative;
    }

    .body-top {
      height: 35vh;

      .fb-like {
        top: 15px;
        left: 15px;
      }

      .main-nav {
        position: absolute;
        bottom: 50%;
        right: 0;
        padding-right: 100px;
        padding-left: 100px;
        z-index: 99;

        a {
          font-size: 24px;
          color: black;
        }

        .menu-separator {
          font-size: 22px;
        }
      }
    }

    .body-bottom {
      height: 65vh;
      text-align: center;
      overflow: visible;

      .main-carousel {
        height: 100%;

        .carousel-control {
          display: none;
        }

        .carousel-indicators {
          display: none;

          .active {
            background-color: black;
          }

          li {
            border: 1px solid black;
          }
        }

        .carousel-inner {
          overflow: visible;
          height: 100%;

          .item {
            height: 100%;
          }

          .slide-main {
            background: url("../assets/images/mainbg.jpg");
            background-size: cover;
          }
        }
      }

      .logo-spacer {
        width: 100%;
        height: 200px;
        top: -110px;
        position: absolute;

        img.tt-logo {
          width: 35%;
        }
      }

      .tt-copyright {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }
}

.lightbox-modal {
  .modal-content {
    border-radius: 0;

    .lightbox-nav {
      margin-bottom: 5px;

      .btn {
        font-size: 22px;
      }
    }
  }
}

@media only screen and (max-device-width : 760px) {

  // and (orientation : portrait) {
  body {
    .view-wrapper {
      .phone-separator {
        display: block;
        width: 100%;
      }

      .body-top,
      .body-bottom {
        overflow: auto;
        position: relative;
      }

      .body-top {
        height: 15vh;
        display: inline-block;
        min-height: 70px;

        .fb-like {
          display: none;
        }

        .main-nav {
          position: absolute;
          top: 0;
          left: 0;
          padding-right: 15px;
          padding-left: 15px;
          z-index: 99;

          a {

            // font-size: 24px;
            // color: black;
          }

          .menu-separator {

            // font-size: 22px;
          }
        }
      }

      .body-bottom {
        height: 85vh;

        .main-carousel {
          height: 100%;

          .carousel-inner {
            overflow: visible;
            height: 100%;

            .item {
              height: 100%;
            }

            .slide-main {
              @media only screen and (orientation : portrait) {
                background-image: url("../assets/images/phonebg.jpg");
              }

              @media only screen and (orientation : landscape) {
                background-image: url("../assets/images/phonebglandscape.jpg");
              }
            }
          }
        }

        .logo-spacer {
          width: 100%;
          height: auto;
          bottom: 25px;
          top: auto;
          position: absolute;
          min-height: 50px;

          img.tt-logo {
            width: 100%;
          }
        }

        .tt-copyright {
          display: none;
        }
      }
    }
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
