//slides
.slick-slide {
  a {
    display: inline-block;
    cursor: pointer;
  }

  img {
    height: 300px;
    width: auto;

    &:hover {
      -webkit-filter: contrast(1.3);
      -ms-filter: contrast(1.3);
      filter:contrast(1.3);
    }
  }
}

.slick-prev,
.slick-next {
  margin-top: -25px;

  &:before {
    font-size: 70px;
  }
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 70px;
}
