.price-positioner {
  position: absolute;
  top: -10vh;
  height: 65vh;
  width: 100vw;

  a {
    cursor: pointer;
  }

  img {
    vertical-align: bottom;

    &.tt-prices {
      height: 100%;
      width: auto;
    }
  }
}

@media only screen and (max-device-width : 760px) {
    .price-positioner {
      position: static;
      top: auto;
      height: 85vh;
      width: 100%;

      img {
        &.tt-prices {
          width: 100%;
          height: auto;
        }
      }
    }
}
